/* Body styling */
body {
  background: #ffffff;
  color: #2c3b52;
  font-family: Arial;
  font-size: 18px;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;
}


/* Heading Styles */
h1 {
  font-size: 60px;
  color: #f8cc6d;
  text-align: left;
}

nav{
  font: Arial Black;
  font-size: 20px;
  background-color: 2c3b52;
  



}
