
head {
  float: left;
}

header{
  float:left;
  padding:0px;
  margin: 0 auto;
}

/* Body styling */
body {
  background: #ffffff;
  color: #2c3b52;
  font-family: Arial;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1080px;

}

/*YT Vid*/
.haven_vid {
	margin: 0 auto;
	border: 20px outset #fbdfde;
}

/* Heading Styles */
h1 {
  font-size: 80px;
  color: #f8cc6d;
  padding: 0px;
  margin: 0px;
}
/* Navigation */
nav{
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;

 }

li{
  float:left

}

 li a {
  display: block;
  margin: auto;
  padding: 36px;
  background-color: #2c3b52;
  font: Arial Black;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  color: #f8cc6d;}


h2{
  font-size: 20px;
  color: #f8cc6d;
}

/*columns*/
.col-container {
  display: table;
  height: 300;
  width: 300;

}
.col {
  display: table-cell;
  padding: 0px;

}



/*opacity*/

.imgs {
  opacity: 0.4;
  filter: alpha(opacity=50);
}

/*footer*/

footer{
  text-align: center;
}

/*media queries*/

@media screen and (max-width: 480px)
 {

   h1{
     font-size:40px;
   }

  nav {
  display: block;
  width: 100px;
  background-color: #2c3b52;
}

li a {
    font-size: 12px;
     float: none;
     display: block;
     text-align: center;
     padding: 10px;

  }

.haven_vid {
  width: 100%;
}

 .images {
   max-width=100%;
 }

 footer {
   display: block;
   text-align: center;
   width: 250px;
 }

}
